
body{
	background-color: #404a59;
	font-family: 楷体
}

a:hover{
	text-decoration:none
}


#right{
	position: absolute;
	right: 0;
	bottom: 0;
	top: 0;
	left: 0;
	position: fixed;
	/*background-color: #404a59;*/
	background-color: #1c6397;
	background-size:100% 100%;
	background-image: url(../images/bac.jpg);
}


#right .con{
	width: 100%;
	margin-top: 20px;
	
}
#right .con .row{
	padding: 0;
	margin: 0;

}



#right .con .row .panel{
	line-height: 1.8;
	border: #404a59;
	color: #fff
}

#top{
	z-index: 100;
	color: #fff;
	text-align: center;
	height: 60px;
	font-size: 35px
}

#top span{
	float: left;
	padding-left: 100px
}

#top img{
	margin-left: 160px
}


/*地图*/

#map {
	margin: -80px auto;
	width: 1070px;
	height: 850px;
	z-index: 2

}



#text-o{
	z-index: 10;
	position: relative;
	top: 10px;
	left: 0;
	width: 100%;
	text-align: center;;
	color: #fff;
	font-size: 30px;
	font-family: 楷体
}

/*机器*/
.simple{
	cursor: pointer;
}

#machine .simple .panel-yes .panel-heading{
	background-color: #4985b9;
	opacity: 0.9;
	border-color: #337ab7;
	border-radius: 5px;
	color: #fff;
}

#machine .simple .panel-yes .panel-heading:hover{
	opacity: 1;
}

#machine .simple .panel-no .panel-heading{
	background-color: #d9534f;
	opacity: 0.9;
	border-color: #d43f3a;
	border-radius: 5px;
	color: #fff;
}

#machine .simple .panel-no .panel-heading:hover{
	opacity: 1;
}




/*左边第一行*/
#text-one p{
	margin-top: 15px;

	padding-bottom: 10px
}

#imgone{
	height: 500px;
	width: 500px;
	margin-left: -120px;


}
#imgtwo{
	height: 450px;
	width: 440px;
	margin-left: -70px
}

/*第二行*/
#text-two{
	margin-top: -55px;
}

#imgthree{
	height: 400px;
	width: 550px;
	margin-left: -130px
}

#imgfour{
	height: 400px;
	width: 380px;
	margin-left: -30px
}

#text-one,#text-two{
	color: #fff;
	text-align: center;
	font-size: 30px;
	line-height: 40px;
	font-family: 楷体
}

/*#right .row .col-lg-5{
	background-color: rgba(0,0,0,0.1);
}*/